/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* menu di navigazione intestazione */

.header-bar {
    /*DEBUG*/
    background-color: blueviolet;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.header-items {
    /*DEBUG*/
    border:1px dashed black;
    width: 50%;
    height: 100%;
}

/* jumbotron*/

.jumbotron {
    /*DEBUG*/
    height: 750px;
    background-color: #B4D0E6;
    padding: 140px 40px 80px;
}

.jumbotron-container {
    /*DEBUG*/
    background-color: white;
    height: 70%;
    margin: 0 auto;
    display: flex;
    width: 70%;   
}

#jumbotron-titolo {
    /*DEBUG*/
    background-color: burlywood;
    height: 30%;
    width: 70%;
    margin: 0 auto;

}

#jumbotron-item-left {
    /*DEBUG*/
    background-color: blue;
    width: 30%;
}

#jumbotron-item-right {
    /*DEBUG*/
    background-color: blueviolet;
    width: 70%;
}



/* contenuto principale */

.main-content {
    /*DEBUG*/
    background-color: rgb(33, 128, 6);
    padding: 30px 400px;
}

/* sezione tariffe */

.fares {
    /*DEBUG*/
    background-color: white;
    height: 700px;
}

.check-box {
    /*DEBUG*/
    background-color: burlywood;
    height: 20%;
}

.fares-container {
    /*DEBUG*/
    background-color: black;
    height: 60%;
    display: flex;
    gap: 40px;
}

.fares-card {
    /*DEBUG*/
    background-color: cadetblue;
    border: 1px dashed black;
    height: 100%;
    width: 100%;
}

.contacts {
     /*DEBUG*/
    background-color: burlywood;
    height: 20%;
}

/* sezione trova partner */

.partner-container {
    /*DEBUG*/
    background-color: aqua;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
} 

#partner-left {
    /*DEBUG*/
    background-color: blue;
    width: 60%;
}

#partner-right {
    /*DEBUG*/
    background-color: rgb(223, 90, 189);
    width: 40%;
}

/* funzioni dropbox */

.operations {
    /*DEBUG*/
    background-color: yellow;
    height: 700px;
}

.operations-title {
    /*DEBUG*/
    background-color: blueviolet;
    height: 10%;
    width: 100%;
}

.operations-container {
    /*DEBUG*/
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    gap: 10px;
}

.operation-card {
    /*DEBUG*/
    border: 1px dashed black;
    background-color: antiquewhite;
    width: calc((100% /3) - (20px / 3));
}

/* info clienti */

.info-clienti {
    /*DEBUG*/
    background-color: violet;
    height: 300px;
}

section {
    border: 1px dashed black;
}

/* footer */

footer {
    background-color: black;
    color: white;
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-container {
    /*DEBUG*/
    background-color: antiquewhite;
    height: 200px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.link-items {
    /*DEBUG*/
    border: 1px dashed black;
    width: 20%;
}

.secondary-footer {
    /*DEBUG*/
    background-color: aqua;
    height: 50px;
    margin: 0 auto;
    width: 70%;
}